<div class="container">
  <div class="row">
    <div class="col-sm ">
        <div class="jumbotron">
                <h1>{{title}}</h1>   
                <p>Disfruta de las publicaciones con tus amigos !!</p>
                <div class="btn-group w-50 ">
                    <a href="#" role="button" class="btn-primary btn btn-lg">Timeline</a>
                    <a href="#" role="button" class="btn-primary btn btn-lg " [routerLink]="['/mis-datos']">Mi perfil</a>
                    <a href="#" role="button" class="btn-primary btn btn-lg">Gente</a>
                </div>
        </div> 
</div>
