<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h1-strong">{{title}}</h1>
            <div id="publications">

                <div class="profile-image float-left">
                    <img src="{{url + 'get-image-user/' + identity.image}}" *ngIf='identity.image'>
                    <img class="card-img-top" src="assets/no-image.png" *ngIf='!identity.image'>
                </div>
                <div class="user-name">
                    <span class="badge badge-secondary" *ngIf="followed">Te sigue</span>
                    <p id="profile-name">{{identity.name + " " + identity.surname}}</p>
                    <p id="profile-nick">{{identity.nick}}</p>
                    <div class="follow">
                        <button class="btn btn-success" *ngIf="!following" (click)="followUser(identity._id)">
                            Seguir
                        </button>
                        <button class="btn btn-primary" *ngIf="following" (click)="unfollowUser(identity._id)"
                            (mouseenter)="mouseEnter(identity._id)" (mouseleave)="mouseLeave()"
                            [class.btn-danger]="identity._id == followUserOver">
                            <span *ngIf="identity._id == followUserOver; else following">
                                Dejar de seguir
                            </span>
                            <ng-template #following>
                                Siguendo
                            </ng-template>

                        </button>
                    </div>

                </div>
                <hr>
                <div class="card-body card-body-sidebar profile-stats">
                    <a href="#">
                        <h5 class="card-title">{{identity.nick}}</h5>
                        <p class="card-text">{{identity.name +' '+ identity.surname }}</p>
                    </a>                        <div class="stats" *ngIf="stats">
                        <div class="following-data">
                            <a href="#">
                                <span class="label-stats">
                                    Siguiendo
                                </span>
                                <span class="number-stats">
                                    {{stats.following}}
                                </span>
                            </a>
                        </div>

                        <div class="following-data">
                            <a href="#">
                                <span class="label-stats">
                                    Seguidores
                                </span>
                                <span class="number-stats">
                                    {{stats.followed}}
                                </span>
                            </a>
                        </div>

                        <div class="following-data">
                            <a href="#">
                                <span class="label-stats">
                                    Publicaciones
                                </span>
                                <span class="number-stats">
                                    {{stats.publications}}
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <publications [user]="identity._id"></publications>
        <div class="col">
            <br>
            <sidebar (sended)="refresh($event)"></sidebar>
        </div>
    </div>
</div>