<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">
          <fa-icon icon="home"></fa-icon> {{inicio}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <fa-icon icon="list"></fa-icon> {{timeline}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <fa-icon icon="user"></fa-icon>
          {{personas}}
        </a>
      </li>
    </ul>
  </div>
</nav>

<login></login>
<register></register>