  <nav class="navbar navbar-expand-sm navbar-light" *ngIf="identity">
  <a class="navbar-brand" [routerLink]="['/home']">{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
          <fa-icon icon="home"></fa-icon> {{inicio}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/timeline']" [routerLinkActive]="['active']">
          <fa-icon icon="list"></fa-icon> {{timeline}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/gente']" [routerLinkActive]="['active']" >
          <fa-icon icon="users"></fa-icon>
          {{personas}}
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item avatar">
        <a href="#" class="nav-link"><img  class="img-responsive"src="{{ url + 'get-image-user/' + identity.image }}" *ngIf="identity && identity.image"></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
          {{identity.nick}}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" [routerLink]="['/perfil',identity._id]"><fa-icon icon="user"></fa-icon> Mi perfil</a>
          <a class="dropdown-item pointer" [routerLink]="['/mis-datos']"><fa-icon icon="user-edit"></fa-icon> Configuración</a>
          <a class="dropdown-item pointer" (click)="logout()"><fa-icon icon="sign-out-alt"></fa-icon> Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>





<nav class="navbar navbar-expand-lg navbar-light" *ngIf="!identity">
  <a class="navbar-brand" href="#">{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav pull-xs-right ml-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">
          <fa-icon icon="sign-in-alt"></fa-icon> Login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="['active']">
          <fa-icon icon="registered"></fa-icon> Registro
        </a>
      </li>
    </ul>
  </div>

</nav>















<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto" *ngIf="!identity">
    <li class="nav-item ">
      <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">
        <fa-icon icon="home"></fa-icon> Login
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="['active']">
        <fa-icon icon="list"></fa-icon> Registro
      </a>
    </li>
  </ul>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet> </router-outlet>
    </div>
  </div>
</div>