<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h1-strong">{{title}}</h1>
            <div id="publications">
                <div *ngFor="let publication of publications" class="item-publication">
                    <div class="card">
                        <div class="card-body">
                            <div class="image-user">

                                <img src="{{url + 'get-image-user/' + publication.user.image}}"
                                    *ngIf="publication.user.image" />
                                <img src="assets/no-image.png" *ngIf="!publication.user.image" />

                            </div>
                            <a [routerLink]="['/perfil',publication.user._id]">
                                <span>{{publication.user.nick}}</span>
                            </a> 
                            <div class="date">
                                {{(publication.created_at | amFromUnix | amLocale: 'es') | amTimeAgo}}
                            </div>
                            <h4 class="publication-text">
                                {{publication.text}}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="publications  && publications.length">
                <div class="btn btn-success btn-lg btn-block" (click)="viewMore()" *ngIf="!noMore">
                    Ver mas publicaciones
                </div>
            </div>
        </div>
    </div>
</div>